@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal:wght@700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container{
  width: 100%;
  margin: auto;
  position: absolute;
  background-color: #000;
  border-bottom: 1px solid #778899;
}



.header{
  height: 100vh;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.logo {
  color: #DAA520;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
}


.navigation{
  float: right;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-right: 25%;
}
.navigation li{
  display: inline-block;
}

.navigation li a{
  color: #fff;
  text-decoration: none;
  padding:5px 10px;
  font-size: 16px;
  transition: 0.8s ease;
}

.navigation li a:hover{
  color: #000;
  background-color:#DAA520;
  border-radius: 15px;
}


.content{
  position: absolute;
  margin-top: 7%;
  margin-left: 42%;
}



.title h1{
  color: #a34b00;
}




.profile-picture a img{
  border-radius: 50%;
  height: 100px;
}


#togglePassword{
  position: absolute;
  margin-top: 23px;
  margin-left: -30px;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
}

.input_title{
  display: flex;
  justify-content: space-between;
}

.input_title h4{
  color:  #000;
}

.details{
  margin-top: 20px;
}

.button{
  margin-left: 5px;
  color: #fff;
  background-color: #000;
  margin-top: 20px;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  transition: 0.7s ease;
}
.button:hover{
  background-color: #DAA520;
  color: #000;
  transform: scale(1.1);
}

.footer{
  margin-top: 5%;;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.footer-title{
  font-weight: 600;
}
.footerinfo a{
  text-decoration: none;
  color: #DAA520;
  padding-left: 10px;
}
