@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=The+Nautigal:wght@700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  background-color: #111318;
}

header{
  background-color: #DAA520;
  width: 100%;
  display: flex;
  z-index: 999;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo{
  text-decoration: none;
  font-size: 1.8em;
  color: black;
}

.navigation{
  float: right;
  margin-right: 50px;
}

.navigation li{
  display: inline-block;
}

.navigation a{
  color: #000;
  text-decoration: none;
  padding:5px 10px;
  font-size: 16px;
  transition: 0.8s ease;
}

.navigation li a:hover{
  color: #DAA520;
  background-color:#000;
  border-radius: 15px;
}


section{
    padding-top: 60px;
    height: 100vh;
    width: 100%;
}

.menu{
    display: flex;
    padding: 10px;
    padding-top: 50px;
    width: 100%;
}

.menu p{
    padding-left: 300px;
    font-size: 1.1em;
    color: #DAA520;
    font-weight: 700;
    padding-top: 2px;
    text-transform: uppercase;
}
.menu a, p{
    text-decoration: none;
    padding-right: 20px;
}

.menu a{
  border: 1px solid black;
}

.dropbtn{
    margin-right: 1px;
    font-size: 1.1em;
    background-color: orange;
    padding: 8px 2px;
    border: none;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {

    color: black;
    padding: 2px 8px;
    font-size: 10px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.movies{
    overflow-y: scroll;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movies::-webkit-scrollbar {
    display: none;
  }

.movie-card{
    width: 18%;
    margin: 5px;
    border-radius: 20%;
    transition: 0.7s ease;
}

.movie-card img{
    width: 100%;
}

.movie-card:hover{
    transform: scale(1.01);
}

.footer{
  background-color: #020202;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.footer-title{
  font-weight: 600;
}
.footerinfo a{
  text-decoration: none;
  color: #DAA520;
  padding-left: 10px;
}
